@use "page.scss";

p {
    font-weight: bold;
}
.pf-v6-c-page__main-container {
  padding: 0 !important;
  margin: 0 !important;
}
.dashbar-header-summary { 
  font-size: 1.2rem;
  padding-left: 0.8rem;
  vertical-align: middle; 
}

.mt-sm {
  margin-top: 0.8rem !important;
}